/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
#Index {

    margin: 0;
    padding: 0;
    
    height:100%;
    
    
}

#About {

        margin: 0;
        padding: 0;
        
        height:100%;

}

#About a {

    color:lightskyblue;

}

#About li {

   
    color:lightskyblue;

}

.image {

    background-size:cover;
    background-repeat: no-repeat;
    background-position:right;
    
    background-image: url("website_picture.JPG"); 
    height: 100vh;

}

#container {

    background: rgba(0, 0, 0, 0.4);
    
    margin-right:auto;
    margin-left:auto;
    
    text-align: center;
    
    /*margin-top: 15%;*/

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    color: white;
    
    font-family: 'Century Gothic', sans-serif; 

    max-width: 50%
    
    
}

#container li {
 
    display: inline-block;
   
}

#container ul {

    padding-left: 0rem;


}

#AboutMe {

    background-size:cover;
    background-repeat: no-repeat;
    background-position:right;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    max-width: 75%;
    max-height: 50%;



    
    height: 100vh;

}


#AboutMe p {

    padding: 10px;
    padding-left: 0px;


}


.nav a {
    
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    color:white;
    font-family:'Century Gothic', sans-serif;
    text-align:center;
    
}

.nav a:hover {

    color:lightskyblue;
    text-decoration: underline;
    
    text-underline-position: under

}

.nav{

    background-color: transparent;
    
    text-align:center;
}

.navbar {
    background-color: transparent;
    /*right: -1400px;*/
    width: 100%;
    margin:auto;
    text-align:center;

}

.navbar {

    background-color: transparent;
    /*right: -1400px;*/
    width: 100%;
    margin:auto;
    text-align:center;

}

#Projects {

    margin: 0;
    padding: 0;
    background: url(./7.jpg) no-repeat;
    
    background-attachment: fixed;
    background-size:cover;
    background-position: 0px, 0px;
    background-repeat: no-repeat;

    
    width:100%;
    height:100%;
    
}

#Projects h1 {

    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    

}

.card-body {

    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);

}

.card {

    margin: 20px 10px;

}

.card-body a {

    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;

}

.card-body a:hover {

    color: #63a6b0;
    text-decoration: none;

}

.title {

    text-align: center;
    padding: 25px 0px;

}

.title p {

    font-size: 18px;


}

@media (min-width: 768px) {  
 
    #container {

        max-width: 25%
          
    }

}

@media (min-width: 992px) { 
 
    #container {

        max-width: 25%
          
    }

}
