@media screen and (max-width: 375px) {
    /* comes into effect for screens less than or equal to 375 pixels */
    #Index {
    
        margin: 0;
        padding: 0;
        background: url(website_picture.JPG) no-repeat;
        
        height:100%;
        
        background-attachment: fixed;
        background-size:cover;
        background-position: -1100px, 0px;
        background-repeat: no-repeat;
    }

    .box {

        width: 75%;
        height: 30%;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px;
        padding-bottom:0px;
        text-align: center;
        margin: auto;
        /*margin-top: 15%;*/
    
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
        color: white;
        
        font-family: 'Century Gothic', sans-serif; 
        
    }

    .box a{
    
            display: inline-block;
            line-height: 0em;
            overflow: hidden;
                  
    }
    
    .box h1 {
    
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 100;
        
    }
    
    .box h5 {
    
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 100;
    
    }
    
    .box p {
    
        font-size:13px;
        text-align: justify;
        letter-spacing:0px;
    }
    
    ul {
    
        margin: 0;
        padding: 0;
        text-align:center;
    }
    
    .box li {
    
        display: inline-block;
        margin: 2px;
        list-style: none;
    
    }
    
    .box li a {
    
        color: white;
        text-decoration: none;
        font-size: 5px;
        transition: all ease-in-out 250ms;
    
    }
    
    .box li a:hover{
    
        color: #b9b9b9;
    
    }

    .nav a {

        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 100;
        color:white;
        font-family:'Century Gothic', sans-serif;
        text-align:center;
        
    }
    
    .nav a:hover {
    
        color:lightskyblue;
        text-decoration: underline;
        
        text-underline-position: under
    
    }
    
    .nav{
    
        background-color:transparent;
        text-align:center;
    }
    
    .navbar {
    
        /*right: -1400px;*/
        width: 100%;
        margin:auto;
        text-align:center;
    }

  }
  
  @media screen and (min-width: 376px) and (max-width: 480px) {
    /* comes into effect for screens between 375 and 480 pixels (inclusive) */
  
    #Index {
    
        margin: 0;
        padding: 0;
        background: url(website_picture.JPG) no-repeat;
        
        height:100%;
        
        background-attachment: fixed;
        background-size:cover;
        background-position: -950px, 0px;
        background-repeat: no-repeat;
    }

    .box {

        width: 50%;
        height: 30%;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px;
        padding-bottom:0px;
        text-align: center;
        margin: auto;
        /*margin-top: 15%;*/
    
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
        color: white;
        
        font-family: 'Century Gothic', sans-serif; 
        
    }

    .box a{
    
            display: inline-block;
            line-height: 0em;
            overflow: hidden;
                  
    }
    
    .box h1 {
    
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 100;
        
    }
    
    .box h5 {
    
        font-size: 15px;
        letter-spacing:2px;
        font-weight: 100;
    
    }
    
    .box p {
    
        font-size:12px;
        text-align: justify;
        
    }
    
    ul {
    
        margin: 0;
        padding: 0;
        text-align:center;
    }
    
    .box li {
    
        display: inline-block;
        margin: 2px;
        list-style: none;
    
    }
    
    .box li a {
    
        color: white;
        text-decoration: none;
        font-size: 5px;
        transition: all ease-in-out 250ms;
    
    }
    
    .box li a:hover{
    
        color: #b9b9b9;
    
    }

    .nav a {

        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 100;
        color:white;
        font-family:'Century Gothic', sans-serif;
        text-align:center;

    }
    
    .nav a:hover {
    
        color:lightskyblue;
        text-decoration: underline;
        
        text-underline-position: under
    
    }
    
    .nav {
    
        background-color:transparent;
        text-align:center;

    }
    
    .navbar {
    
        width: 100%;
        margin:auto;
        text-align:center;
       
    }

  }

  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #Index {
    
        margin: 0;
        padding: 0;
        background: url(website_picture.JPG) no-repeat;
        
        height:100%;
        
        background-attachment: fixed;
        background-size:cover;
        background-position: -400px, 0px;
        background-repeat: no-repeat;
    }

    .box {

        width: 450px;
        height: 320px;
        background: rgba(0, 0, 0, 0.4);
        padding: 40px;
        
        text-align: center;
        margin: auto;
        /*margin-top: 15%;*/
    
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        
        color: white;
        
        font-family: 'Century Gothic', sans-serif; 
        
    }

    .box-img {

        border-radius:50%;
        width:200px;
        height:200px;

    }

    .box a{
    

            display: inline-block;
            line-height: 0em;
            overflow: hidden;
                  
    }
    
    .box h1 {
    
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 100;
        
    }
    
    .box h5 {
    
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 100;
    
    }
    
    .box p {
    
        font-size:13px;
        text-align: justify;
        letter-spacing:0px;
    }
    
    ul {
    
        margin: 0;
        padding: 0;
        text-align:center;
    }
    
    .box li {
    
        display: inline-block;
        margin: 6px;
        list-style: none;
    
    }
    
    .box li a {
    
        color: white;
        text-decoration: none;
        font-size: 60px;
        transition: all ease-in-out 250ms;
    
    }
    
    .box li a:hover{
    
        color: #b9b9b9;
    
    }

    .nav a {

        font-size: 30px;
        letter-spacing: 4px;
        font-weight: 100;
        color:white;
        font-family:'Century Gothic', sans-serif;
        text-align:center;
        
    }
    
    .nav a:hover {
    
        color:lightskyblue;
        text-decoration: underline;
        
        text-underline-position: under
    
    }
    
    .nav{
    
        background-color:transparent;
        text-align:center;
    }
    
    .navbar {
    
        /*right: -1400px;*/
        width: 100%;
        margin:auto;
        text-align:center;
    }

  }

#Projects {

    background-image: url('./7.jpg');
    background-repeat: no-repeat;
    /*padding: 30px 0px;*/

    
    background-size:cover;
}

#Projects h1 {

    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;


}

#About {
    
    background-color: white;
    margin: 0;
    padding: 0;
    
    height:100%;
    width:25%;
    background-attachment: fixed;
    background-size:cover;
    background-position: -200px, 0px;
    background-repeat: no-repeat;

}

#About a {

    color:lightskyblue;

}

.AboutMe {

    
    position: absolute;
    top: 55%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:50%;
}

.AboutMe img {

    width:50%; 
    height:auto;


}

.AboutMe p {

    font-family:'Century Gothic', sans-serif;
    padding-top: 25px;
    font-size: 35px;
    font-weight: 600;
    text-align: justify;
    width: 75%;
}

.title {

    text-align: center;
    padding: 25px 0px;

}

.title p {

    font-size: 18px;


}

.card-body {

    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);

}

.card {

    margin: 20px 10px;

}

.card-body a {

    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;

}

.card-body a:hover {

    color: #63a6b0;
    text-decoration: none;

}